body.construction
{
  display: flex;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
}
body.construction > div
{
  display: flex;
  flex-direction: column;
  justify-items: center;
}
body.construction .spining
{
  display: flex;
  /* flex-direction: row; */
  align-items: center;
}