body.resume
{
  --color-background: #282c34;
  --color-text: #f0f8ff;
  --color-primary: #fe935c;
  --color-secondary: #84fcf9;

  --padding: 1em;

  font-family: 'Consolas', Courier, monospace;
  font-size: 15px;
  font-weight: normal;

  padding-top: 0.5in;
}

body.basic
{
  width: 11in;
  margin: auto;
  padding-top: 1in;
  padding-bottom: 1in;
  font-family: Arial, Helvetica, sans-serif;
}

body.basic .tags {display: none;}

body
{
  background-color: var(--color-background, #f1f1f1);
  color: var(--color-text, #212121);
}

main
{
  padding: calc(var(--padding) * 3);
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
}

main > section
{
  padding-bottom: calc(var(--padding) * 0.75);
}

.sec-tags
{
  font-size: 3em;
  font-weight: bold;
  color: var(--color-primary);
}
.sec-tags span
{
  color: var(--color-secondary);
}

.sec-title h1
{
  font-size: 3em;
}
.sec-title h2
{
  font-size: 1.5em;
  font-weight: normal;
}

section h3
{
  color: var(--color-primary);
  font-size: 2em;
  padding-left: 0.5em;
  position: relative;
}
section h3::after
{
  --size: 0.3em;
  content: '';
  display: block;
  position: absolute;
  bottom: 0.3em;
  left: 0.1em;
  width: var(--size);
  height: var(--size);
  background-color: var(--color-secondary);
  border-radius: 50%;
}

section p
{
  letter-spacing: 0.05em;
  padding-bottom: calc(var(--padding) * 0.2);
}
section p span, section .sec
{
  color: var(--color-secondary);
}
section p strong, section .pri
{
  color: var(--color-primary);
  font-weight: normal;
}
section p em{font-style: normal;}
section h4
{
  font-size: 1.4em;
  font-weight: normal;
}

.basic section h3
{
  text-transform: capitalize;
}

.basic section.sec-formacao div {padding-left: 0;}

.active {position: relative;}
.active::after
{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0.75em;

  width: 0.5em;
  height: 0.25em;

  transform: translateY(-50%);

  background-color: var(--color-primary);
}


.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9,.g0
{
  --space: calc(var(--padding) * 0.4);

  padding: 0 calc(var(--padding) * 0.2);
  display: block;
  position: relative;
}
.skills > div:first-child{padding-left: 0;}
.skills > div:last-child{padding-right: 0;}

.g1::after,.g2::after,.g3::after,.g4::after,.g5::after,.g6::after,.g7::after,.g8::after,.g9::after,.g0::after,
.g1::before,.g2::before,.g3::before,.g4::before,.g5::before,.g6::before,.g7::before,.g8::before,.g9::before,.g0::before
{
  content: '';
  display: block;
  position: absolute;

  left: calc(var(--padding) * 0.2);
  bottom: -0.1em;

  width: calc(100% - var(--space));
  height: 0.2em;
  
  background-color: var(--color-primary);
}
.g1::before,.g2::before,.g3::before,.g4::before,.g5::before,.g6::before,.g7::before,.g8::before,.g9::before,.g0::before
{
  background-color: var(--color-text);
}
.g1::after{width: calc(10% - var(--space));}
.g2::after{width: calc(20% - var(--space));}
.g3::after{width: calc(30% - var(--space));}
.g4::after{width: calc(40% - var(--space));}
.g5::after{width: calc(50% - var(--space));}
.g6::after{width: calc(60% - var(--space));}
.g7::after{width: calc(70% - var(--space));}
.g8::after{width: calc(80% - var(--space));}
.g9::after{width: calc(90% - var(--space));}
.g0::after{width: calc(100% - var(--space));}









body > main:not(:first-child){padding-top: 0;}
body > main:not(:last-child){padding-bottom: 0;}